body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
:root{
    --primary-color:#004e75;
    --secondary-color:#dee5ec;
    --border-radius:5px;
    --button-padding:10px 25px;
    --border-box:1px solid #00305f; 
    
    /* --secondary-color: #6c63ff;
    --text-color: #111;
    --light-text: #666;
    --bg-color: #ffffff;
    --card-bg: #f5f5f5; */
}

.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.mt-60{
    margin-top: 60px;
}
.mt-80{
    margin-top: 80px;
}
.mt-100{
    margin-top: 100px;
}
/* header-section */
header{
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 80px;
   
}

header nav ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 0;
}
.header-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-ctn .demo-btn {
    background-color:var(--primary-color) ;
    color: white;
    padding: var(--button-padding);
    border-radius: 5px;
}

/* herosection */
#hero{
    height: 100vh;
}
.hero-ctn{
    margin-top: 170px;
}
.hero-btn{
    
    height: 100%;
}
.hero-ctn h1 {
    font-size: 53px;
    font-weight: 600;
    margin:30 0 ;
    line-height: 1.5;
}
.hero-ctn .start-btn{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--button-padding);
    color: white;
    
}
.hero-ctn .download-btn{
    margin-left: 10px;
    border:var(--border-box) ;
    color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--button-padding);

}

/* sectionunderhero */
#hero-banner{
    background-image: url(/img/banner-img.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.banner{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 0px;
}
.banner-box{
    background-color: white;
    padding: 8px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;

}
.banner-box p{
    text-align: center;
}
.banner-icon {
    
    padding: 10px 14px;
    border-radius: 100px;
    border: 1px solid var(--secondary-color);
    margin: 10px;
}
.banner-icon i{
    font-size: 18px;
    color: var(--primary-color);
}
/* banner2 */
#banner-2{
    background-color: var(--secondary-color);
    
}
.banner2-ctn{
    display:flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.divider{
    width: 1px;
    height: 60px;
    background-color: black;
}
.counts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* features */
.ftr-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ftr-1, .ftr-2, .ftr-3, .ftr-4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;;
}

.ftr-section i{
    font-size: 18px;
    color: white;
    border-radius: 100px;
    background-color: var(--primary-color);
    padding: 12px 12px;
}
.ftr-4 i{
     padding: 12px 14px;
}
.ftr-2 i{
     padding: 12px 13px;
}
/* how it woks */
#working{
    
}
.work-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.working-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
}
.bg-blue{
   
}
.cards{
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    padding: 20px;

}
.cards h5{
    color: var(--primary-color);
    background-color: white;
    padding: 9px 15px;
    border-radius: 100%;
}
.cards .h5{
    padding: 9px 17px;
}

/* about */
.about-ctn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(1deg,white,#dee5ec , white);
    padding: 30px;
    gap: 40px;

}

.mission h6{
    background: var(--secondary-color);
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
}
.priority h6{
    background: white;
    max-width: fit-content;
    padding: 2px 8px;
    border-radius: 5px;
}
.priority{
    display: flex;
    flex-direction: column;


}
.p-ctn1{
    padding: 20px;
    background: linear-gradient(1deg,white, #dee5ec );
    border-radius: 10px;
    height: 180px;
}
.p-ctn2{
    padding: 20px;
    height: 180px;
    border-radius: 10px;
    background-color: white;
}
/* qrcode */
#qr-code{
    background-color: var(--primary-color);
    color: white;
    
    position: relative;
}
.qrcode-ctn{
    padding: 20px;
}
.qr-image {
    position: absolute;
    top: -50px;
}
.qr-ctn{
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blackimg{
    display: flex;   
    flex-direction: column;
    gap: 10px;
    
}
/* school */
#school{
     background-color: var(--secondary-color);
}
.school-ctn{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
   
    border-radius: 20px;
}
.school-ctn h2{
    margin: 60px 0px;
}
.school-ctn h6{
    color: #033b73;
}
.school-ctn .s-cards{
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.s-cards i{
    margin-top: -30px;
    max-width: fit-content;
    background-color: var(--primary-color);
    border-radius: 100%;
    color: white;
    padding: 10px;
    
}
.card4 i{
    padding: 10px 12px;
}
.card6 i{
    padding: 10px 8px;
}

/* screen */
/* .screen-ctn{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.screen-ctn h2{
    margin: 10px;
}

.screen-p1{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

}
.carousal img{
    width: 100px !important;
}
.screen-p1 span{
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding:5px 10px ;
    max-width: fit-content;
}
.screen-ctn .arrow i{
    background-color: var(--primary-color);
    color: white;
    border-radius: 100%;
    padding: 10px;
} */
/* contactsection */
.contact-ctn{
    background-image: url("/img/contact-bg.png");
    color: white;
   padding: 60px;
   background-size: cover;
   border-radius: 20px;
}
.contact-ctn1{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-ctn1 h3{
    margin: 30px 0px;
}
.contact-ctn .contact-box{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.form-box{
    padding: 30px;
    display: flex;
    flex-direction: column;
 
    align-items: stretch;
    gap: 30px;
    border-radius: 38px;
}
.contact-box input{
      width: 100%;
    padding: 10px 10px;
    background: #fff;
    border: solid 1px rgba(223, 223, 223, 1);
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    border-color: rgba(223, 223, 223, 1);
    box-shadow: 0 2px 6px rgb(89 89 89 / 25%);
}
.contact-box  textarea {
    width: 100%;
    padding: 10px 10px;
    background: #fff;
    border: solid 1px rgba(223, 223, 223, 1);
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    border-color: rgba(223, 223, 223, 1);
    box-shadow: 0 2px 6px rgb(89 89 89 / 25%);
}
.contact-box button{
    border-radius: 8px;
    background:var(--primary-color);
    color: white;
    padding: 10px;
    border-color: rgba(223, 223, 223, 1);
    border: solid 1px rgba(223, 223, 223, 1);

}



/* foot */
footer{
    
    background-color: #001224;
    color: white;
    margin-top: 60px;
    padding: 30px 0px;
}
.foot-ctn h6{
    margin: 30px 0px;
    font-weight: 600;
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer a{
    color: white;
}
.follow i{
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 20px;
    color: black;
}
.f-icon1 i{
    padding: 8px 12px;
}
.f-icon4 i{
    padding: 8px 9px;
}
hr{
  
    
    
    opacity: .25;
    margin-top: 58px;

    color: #71abe5;
}
.foot2{
    display: flex;
    justify-content: space-between;
    color: #ffffff72;
}