body {
    font-family: "Poppins", sans-serif;
    padding-top: 0;
    /* animation: bgAnim 30s linear infinite; */
}
/* .bgAnim animation{
    background-color: rgb(235, 254, 243);
} */

a{
    text-decoration: none;
    color: black;
}
:root{
    --primary-color:#004e75;
    --secondary-color:#dee5ec;
    --border-radius:5px;
    --button-padding:10px 20px;
    --border-box:1px solid #00305f; 
    
    /* --secondary-color: #6c63ff;
    --text-color: #111;
    --light-text: #666;
    --bg-color: #ffffff;
    --card-bg: #f5f5f5; */
}

.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.mt-60{
    margin-top: 60px;
}
.mt-80{
    margin-top: 80px;
}
.mt-100{
    margin-top: 100px;
}

/* header-section */
header{
    padding: 20px 0;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
   
   
}



header nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 0;
}
.header-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header-ctn .demo-btn {
    font-weight: 500;
    letter-spacing: 0.3px;
    background-color:var(--primary-color) ;
    color: white;
    padding: var(--button-padding);
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 10px 20px rgba(0, 78, 117, 0.25);

}
.header-ctn .demo-btn:hover{
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


.toggle_btn {
    display: none;
    cursor: pointer;
}

.toggle_btn span {
    display: block;
    background-color: #000;
    height: 4px;
    width: 28px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in;

}


/* .toggle_btn {
    display: none !important;
    position: absolute;
    right: 145px;
    top: 32px;
    z-index: 1;
}
.toggle_btn span{
    display: block;
    background-color: #000000;
    height: 5px;
    width: 25px;
    margin-bottom: 5px;
    transition: 0.3s ease-in all;
} */
.toggle_btn span:last-child{
    margin-bottom: 0;
}
.toggle_active span:first-child{
    transform: rotate(50deg);
    margin-bottom: -15px;
}
.toggle_active span:nth-child(2){
    transform: translateX(25px);
    width: 0;
    opacity: 0;
}
.toggle_active span:last-child{
     transform: rotate(-45deg);
    margin-bottom: -5px !important;
}



.sidebar{
    background-color: var(--secondary-color);
    height: 100vh;
    
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease-in;

    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    z-index: 999;


   
   
}
.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}
.sidebar_active{
    transform: translateX(0%);
    opacity: 1; 
    color: black;
    display: flex;
}

/* herosection */
#hero{
    
   
    min-height: 100vh;
    padding: 80px 0;


}
.hero-ctn{
    margin-top: 0px;
}
.hero-btn{
    
    height: 100%;
}
.hero-ctn h1 {
    font-size: 53px;
    font-weight: 600;
    margin:30px 0 ;
    line-height: 1.5;
}
.hero-ctn .start-btn{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--button-padding);
    color: white;
    
}
.start-btn:hover{
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
   transform: scale(1.05);
}
.hero-ctn .download-btn{
    margin-left: 10px;
    border:var(--border-box) ;
    color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--button-padding);

}
.download-btn:hover{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}



/* .toggle-bt{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 11px;  
}
.toggle-bt div{
    position: relative;
    transition: 0.3s;
    height: 8px;
    width: 40px;
    background: black;
}

.toggle-bt.toggled div:nth-child(1){
    transform: rotate(45deg);
    top:10px;
    
}
.toggle-bt.toggled div:nth-child(2){
     transform: translateX(100vw);
    opacity: 0;
}
.toggle-bt.toggled div:nth-child(3){
    transform: rotate(-45deg);
    bottom:6px;
}
.header .respo{
    display: flex;
    gap: 9px;
} */
/* sectionunderhero */
#hero-banner {
    background-image: url(/img/banner-img.png);
    background-size: cover;
    width: 100%;
    padding: 20px 0px;
    height: 100%;
}

.banner-box{
    background-color: white;
    padding: 8px 30px;
    border-radius: 10px;
    display: flex;
    height: 170px;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;

}
.banner-box p{
    text-align: center;
}
.banner-box h5{
    text-align: center;
}
.banner-icon {
    
    padding: 10px 14px;
    border-radius: 100px;
    border: 1px solid var(--secondary-color);
    margin: 10px;
}
.banner-box:hover{
    box-shadow: 0 8px 10px #4475a5;
}
.banner-box:hover .banner-icon{
    background-color:var(--secondary-color);
}
.banner-icon i{
    font-size: 18px;
    color: var(--primary-color);
}
/* banner2 */
#banner-2{
    background-color: var(--secondary-color);
    
}

.banner2-ctn{
    display:flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.divider{
    width: 1px;
    height: 60px;
    background-color: black;
}
.counts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* features */
.ftr-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ftr-1, .ftr-2, .ftr-3, .ftr-4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;;
}
.ftr-section i:hover{
    color: var(--primary-color);
    background-color:var(--secondary-color) ;
    transform: scale(1.05);
}
.ftr-section i{
    font-size: 18px;
    color: white;
    border-radius: 100px;
    background-color: var(--primary-color);
    padding: 12px 12px;
}
.ftr-4 i{
     padding: 12px 14px;
}
.ftr-2 i{
     padding: 12px 13px;
}
.ftr-img img:hover{
    
}

/* how it woks */
#working{
    
}
.work-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    text-align: center;
    
}
.work-head p{
    width: 80%;
}
.working-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
}
.bg-blue{
   
}
.cards {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    padding: 20px;
    height: 200px;
}
.cards:hover{
    border: 1px solid white;
    transform: translateY(-6px);
}
.cards:hover h5{
    background-color: var(--secondary-color);
}
.cards h5{
    color: var(--primary-color);
    background-color: white;
    padding: 9px 15px;
    border-radius: 100%;
}
.cards .h5{
    padding: 9px 17px;
}

/* about */
.about-ctn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(1deg,white,#dee5ec , white);
    padding: 30px;
    gap: 25px;

}
.mission{
    
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
   
    align-items: flex-start;
}

.mission h6{
    background: var(--secondary-color);
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
}
.priority h6{
    background: white;
    max-width: fit-content;
    padding: 2px 8px;
    border-radius: 5px;
}
.priority{
    display: flex;
    flex-direction: column;


}
.p-ctn1{
    padding: 20px;
    background: linear-gradient(1deg,white, #dee5ec );
    border-radius: 10px;
    height: 180px;
}
.p-ctn1:hover{
    border: 1px solid var(--primary-color);
}
.p-ctn2{
    padding: 20px;
    height: 180px;
    border-radius: 10px;
    background-color: white;
}
.p-ctn2:hover{
    border: 1px solid var(--primary-color);
    overflow-x: hidden;
}
/* qrcode */
#qr-code{
    background-color: var(--primary-color);
    color: white;
    height: 410px;
    position: relative;
}
.qrcode-ctn{
    width: 100%;
    padding: 20px;
}
.qr-image {
    position: absolute;
    top: -40px;
}
.qr-image img{
    max-width: 420px;
    width: 100%;
    height: auto;
}
.qr-ctn{
    padding: 10px 0px 10px 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blackimg{
    display: flex;   
    flex-direction: column;
    gap: 10px;
    
}
/* speaker */
/* speaker */
.comtro-ctn{
    padding: 30px;
   
}
.comtro-1{
     display: flex;
   
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.viewbtn{
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: var(--button-padding);
    color: white;
    width: fit-content;
}
.viewbtn:hover{
   
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
   transform: scale(1.05);

}
/* school */
#school{
     background-color: var(--secondary-color);
}
.school-ctn{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
   
    border-radius: 20px;
}
.school-ctn h2{
    margin: 60px 0px;
}
.school-ctn h6{
    color: #033b73;
}

.school-ctn .s-cards {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    height: 180px;
    flex-direction: column;
    gap: 10px;
}
.s-cards i{
    margin-top: -30px;
    max-width: fit-content;
    background-color: var(--primary-color);
    border-radius: 100%;
    color: white;
    padding: 10px;
    
}
.s-cards:hover{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
}
.s-cards:hover i{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.card4 i{
    padding: 10px 12px;
}
.card6 i{
    padding: 10px 8px;
}

/* screen */
.screen-ctn{
    position:relative;
}
.slider-ctn{
    height:max-content;
    
    padding: 50px;
}
.slick-prev{
    position: absolute;
    cursor:pointer;
    background-color: var(--secondary-color);
    border-radius: 100%;
    padding: 5px 12px;
    top: 100%;
    left: 20%;
}



    
.slick-next{
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 100%;
    padding: 5px 12px;
    top: 100%;
   left: 30%;
}
.slider-ctn span{
    padding:5px 10px;
    background-color: #dee5ec;
    border-radius: 30px;
}
.slider-ctn h6{
    margin-top: 20px;
}

/* contactsection */
.contact-ctn{
    background-image: url("/img/contact-bg.png");
    color: white;
   padding: 60px;
   background-size: cover;
   border-radius: 20px;
}
.contact-ctn1{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-ctn1 h3{
    margin: 30px 0px;
}
.contact-ctn .contact-box{
    background-color: white;
    color: black;
    border-radius: 20px;
}

.form-box{
    padding: 30px;
    display: flex;
    flex-direction: column;
 
    align-items: stretch;
    gap: 30px;
    border-radius: 38px;
}
.contact-box input{
      width: 100%;
    padding: 10px 10px;
    background: #fff;
    border: solid 1px rgba(223, 223, 223, 1);
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    border-color: rgba(223, 223, 223, 1);
    box-shadow: 0 2px 6px rgb(89 89 89 / 25%);
}
.contact-box  textarea {
    width: 100%;
    padding: 10px 10px;
    background: #fff;
    border: solid 1px rgba(223, 223, 223, 1);
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    border-color: rgba(223, 223, 223, 1);
    box-shadow: 0 2px 6px rgb(89 89 89 / 25%);
}
.contact-box button{
    border-radius: 8px;
    background:var(--primary-color);
    color: white;
    padding: 10px;
    border-color: rgba(223, 223, 223, 1);
    border: solid 1px rgba(223, 223, 223, 1);

}
.contact-box button:hover{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
   transform: scale(1.05);
}



/* foot */
footer{
    
    background-color: #001224;
    color: white;
    margin-top: 60px;
    padding: 30px 0px;
}
.foot-ctn h6{
    margin: 30px 0px;
    font-weight: 600;
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer a{
    color: white;
}
.follow i{
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 20px;
    color: black;
}
.f-icon1 i{
    padding: 8px 12px;
}
.f-icon4 i{
    padding: 8px 9px;
}
hr{
  
    
    
    opacity: .25;
    margin-top: 58px;

    color: #71abe5;
}
.foot2{
    display: flex;
    justify-content: space-between;
    color: #ffffff72;
}